.message-container {
    display: inline-block;
}

.chat-meta {
    color: grey;
    margin-left: 15px;
    border-radius: 20px;
    font-size: 10px;
}

.chat-message {
    color: white;
    background-color: rgb(60, 64, 67);
    border-radius: 20px;
    padding: 15px;
}

.message-container.right {
    align-self: flex-end;
    text-align: end;
}

.message-container.right > .chat-meta {
    margin-left: 0;
    margin-right: 15px;
}
.message-container.right > .chat-message {
    background-color: darkcyan;
}