.username-input {
    display: flex;
    align-items: center;

    height: 100%;
    width: 100%;
}

.chat-username {
    border-style: solid;
    width: 100%;
}

.btn-send-chat-username {
    margin-left: 15px;
}

.chat-username, .btn-send-chat-username {
    color: white;
    background-color: rgb(60, 64, 67);
    border-radius: 20px;
    padding: 15px;
}

.chat-username:focus, .btn-send-chat-username:focus {
    outline: none;
}
